<!DOCTYPE html>
<html lang="en">
  <head>
    <title> </title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <link rel="stylesheet" href="static/home.css"/>
    <style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
</style>
    <link rel="python" href="hackprinceton/countdown.py"/>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
    <table style="width:90%">
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <th>8:00 am</th>
      </tr>
      <tr>
        <th>9:00 am</th>
      </tr>
      <tr>
        <th>10:00 am</th>
      </tr>
      <tr>
        <th>11:00 am</th>
      </tr>
      <tr>
        <th>12:00 pm</th>
      </tr>
      <tr>
        <th>1:00 pm</th>
      </tr>
      <tr>
        <th>2:00 pm</th>
      </tr>
      <tr>
        <th>3:00 pm</th>
      </tr>
      <tr>
        <th>4:00 pm</th>
      </tr>
      <tr>
        <th>5:00 pm</th>
      </tr>
      <tr>
        <th>6:00 pm</th>
      </tr>
      <tr>
        <th>7:00 pm</th>
      </tr>
      <tr>
        <th>8:00 pm</th>
      </tr>
      <tr>
        <th>9:00 pm</th>
      </tr>
      <tr>
        <th>10:00 pm</th>
      </tr>
      <tr>
        <th>11:00 pm</th>
      </tr>
      <tr>
        <th>12:00 am</th>
      </tr>
      <tr>
        <th>1:00 am</th>
      </tr>

    </table>
  </body>
</html>
