<!DOCTYPE html>
<html lang="en">
  <head>
    <title> </title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/home.css"/>
    <style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
</style>
    <link rel="python" href="hackprinceton/countdown.py"/>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="507544654410-ep70325hv0kubvaj81b6clk0n5395fsp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <div class="logo">
        <img src="../static/centoreLogo.png"></img>
    </div>

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>

  </body>
</html>
