<!DOCTYPE html>
<html lang="en">
  <head>
    <title> </title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <link rel="stylesheet" href="static/home.css"/>
    <style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
</style>
    <link rel="python" href="hackprinceton/countdown.py"/>
  </head>
  <body>
    <table style="width:90%">
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <th>8:00 am</th>
      </tr>
      <tr>
        <th>9:00 am</th>
      </tr>
      <tr>
        <th>10:00 am</th>
      </tr>
      <tr>
        <th>11:00 am</th>
      </tr>
      <tr>
        <th>12:00 pm</th>
      </tr>
      <tr>
        <th>1:00 pm</th>
      </tr>
      <tr>
        <th>2:00 pm</th>
      </tr>
      <tr>
        <th>3:00 pm</th>
      </tr>
      <tr>
        <th>4:00 pm</th>
      </tr>
      <tr>
        <th>5:00 pm</th>
      </tr>
      <tr>
        <th>6:00 pm</th>
      </tr>
      <tr>
        <th>7:00 pm</th>
      </tr>
      <tr>
        <th>8:00 pm</th>
      </tr>
      <tr>
        <th>9:00 pm</th>
      </tr>
      <tr>
        <th>10:00 pm</th>
      </tr>
      <tr>
        <th>11:00 pm</th>
      </tr>
      <tr>
        <th>12:00 am</th>
      </tr>
      <tr>
        <th>1:00 am</th>
      </tr>
      
    </table>
  </body>
</html>
